<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Minion Framework</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/tailwind.css">
    </head>
    <body class="bg-grey-lightest h-screen font-sans">
        <div class="container mx-auto min-h-screen flex flex-wrap items-center">
            <div class="w-screen">
                <div class="w-full flex justify-center my-5">
                    <div class="text-10xl font-normal leading-normal tracking-wide text-grey-darker">
                        Minion
                    </div>
                </div>
                <div class="w-full flex justify-center my-5">
                    <a class="rounded-full text-center leading-none font-semibold no-underline block px-3 py-3 mr-5 border-2 border-grey-light bg-grey text-white hover:text-grey-darker hover:border-grey hover:bg-grey-lightest" href="https://github.com/mtvbrianking/minion">Documentation</a>
                    <a class="rounded-full text-center leading-none font-semibold no-underline block px-3 py-3 border-2 border-grey text-grey-darker hover:text-white hover:border-grey-light hover:bg-grey" href="https://github.com/mtvbrianking/minion">Source Code</a>
                </div>
            </div>
        </div>
    </body>
</html>

